@import url('https://fonts.googleapis.com/css?family=Eczar');

body {
  padding: 50px;
  font-family: 'Eczar', serif;
	background-color: #eaeaea;
	text-align: center;
}

a {
  color: #00B7FF;
}

#head {
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 40%;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.5);
}

form{

	background-color: transparent;
	padding: 20px;
	border-radius: 15px;
	margin: 0 auto;
	width: 50%;
}



#submit-animal {
	margin: 0 10px;
}

#animal{
	width:50%;
	margin: 0 auto;
}
